{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/presets-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
